<p>Hey {{email}},</p>
<p>You have requested to withdraw your {{referralOrMcfPoints}}</p>
<p>The details with the {{name}} and the {{number}} belonging to {{bank}}, you requested to withdraw{{amount}}</p>

<p>You will receive your money in the next hour, Thank you.</p>