<p>Someone with this Username <strong style="color: green">{{userName}}</strong>.</p>
<p>Requested to withdraw <strong style="color: green">{{referralOrMcfPoints}}</p>
<p>The details of the user as follows with the name of the account
  <strong style="color: green">{{name}}</strong>
  and the account number
  <strong style="color: green">{{number}}</strong>
  belonging to
  <strong style="color: green">{{bank}}</strong>, and they requested to withdraw
  <strong style="color: green">{{amount}}</strong></p>

<p>Do not forget that after a successful transfer you need to deduct their
  money from the confirm withdrawal page.</p>