<p>Hey <strong style="color: green">{{userName}}</strong>,</p>
<p>You have requested to withdraw your <strong style="color: green">{{referralOrMcfPoints}}</strong></p>
<p>Your details as follows with the name <strong style="color: green">{{name}}</strong>
  and the account number
  <strong style="color: green">{{number}}</strong>
  belonging to
  <strong style="color: green">{{bank}}</strong>, you requested to withdraw <strong style="color: green">{{amount}}</strong></p>

<p>You will receive your money in the next hour, Thank you.</p>